/* Search Form */
.search__form {
  position: relative;
  row-gap: 3rem;
}
.search__form-div {
  position: relative;
  height: 4rem;
}
.search__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  z-index: var(--z-tooltip);
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: 0.35rem;
  transition: background 0.4s;
}
.search__form-input {
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: var(--z-normal);
}
