/*=============== SINGLE CANDIDATE ===============*/
.single__candidate {
  position: relative;
  overflow: hidden;
}
.single__candidate-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
.single__candidate-img {
  border: 1px solid var(--body-color);
  max-width: 320px;
  width: 100%;
}
.single__candidat-info {
  padding-bottom: 1rem;
}
.single__candidat-info h3 {
  color: var(--text-color);
  font-size: var(--h2-font-size);
}
.single__candidat-info p {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
.single__candidate-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 4%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.single__candidate:hover .projects__modal {
  bottom: 0;
}

/*=============== TABLE ===============*/
.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  padding: 1rem 2rem;
  border: 1px solid var(--text-color-light);
  text-align: center;
  font-size: var(--normal-font-size);
}
.table th {
  background-color: var(--text-color-lighten);
}
.table th span {
  font-size: var(--h3-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table tbody tr:nth-child(even) {
  background-color: var(--text-color-lighten);
}
.hscroll {
  overflow-x: auto; /* Horizontal */
  margin: auto;
}
.table img {
  width: 1.5rem;
}
.table .table-icon {
  width: 1.5rem;
}
