/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-tooltip);
}
.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.2);
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  transition: background 0.4s; /* for dark mode animation */
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--text-color);
}
.nav__logo {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__buttons img {
  width: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 92%;
    left: 0;
    right: 0;
    top: -65%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: top 0.3s;
  }
}
.nav__list {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 2rem 3rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  transition: color 0.3s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__link i {
  font-size: 1.25rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 1rem;
}

/* Active link */
.active-link {
  color: var(--first-color);
}
