/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital,wght@0,500;1,500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(29, 80%, 58%);
  --first-color-light: hsl(29, 80%, 70%);
  --body-color: hsl(29, 100%, 99%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 10%);
  --text-color-light: hsl(207, 4%, 56%);
  --text-color-lighten: hsl(207, 3%, 76%);
  --header-color: hsl(0, 0%, 97%);
  --container-color: hsl(207, 4%, 95%);
  --black-color: hsl(29, 16%, 10%);
  --white-color: hsl(0, 0%, 100%);
  --error-color: hsl(350, 97%, 35%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --hand-writing-font: "Dancing Script", cursive;
  --biggest-font-size: 1.8rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: 16px;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 
img {
  max-width: 100%;
  height: auto;
} */

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(219, 48%, 8%);
  --container-color: hsla(219, 32%, 16%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 8%, 0.4);
}
.dark-theme .home__shape-wawes,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img,
.dark-theme .testimonial__img {
  filter: invert(1);
}
.dark-theme .hero,
.dark-theme .fade-in,
.dark-theme .fade-out {
  background: var(--body-color);
}
.dark-theme .hero__title,
.dark-theme .hero__info-title,
.dark-theme .home__social-link {
  color: var(--title-color);
}
.dark-theme .section__border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}
.dark-theme::-webkit-scrollbar {
  background-color: hsl(207, 4%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 35%);
}
.dark-theme .accordion__title {
  color: var(--text-color);
}
.dark-theme .btn {
  color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2.5rem;
}
.section__border {
  border-bottom: 1px solid var(--text-color-light);
  padding-bottom: 3.5rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}
.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.main {
  overflow: hidden; /* For animation */
  padding-top: 4rem;
}
.btn {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--body-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: var(--normal-font-size);
  background-color: var(--second-color-alt);
  border: 2px solid var(--second-color-alt);
  text-transform: uppercase;
}
.btn:hover {
  color: var(--second-color-alt);
  background-color: var(--body-color);
  border: 2px solid var(--second-color-alt);
  transition: all 0.3s;
}
.btn-alt {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  border: 2px solid var(--text-color-light);
  text-transform: uppercase;
}
.btn-alt:hover {
  color: var(--white-color);
  background-color: var(--first-color);
  border: 2px solid var(--white-color);
  transition: all 0.3s;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 425px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
    padding-inline: 3rem;
  }
  .home__title {
    width: 220px;
    text-align: center;
  }
  .home__title img {
    bottom: 2.5rem;
  }
  .products__content {
    grid-template-columns: 1fr;
  }
  .steps__content {
    row-gap: 3rem;
  }
  .steps__card {
    width: initial;
  }
  .steps__border {
    left: 0;
    top: 10.5rem;
  }
}

@media screen and (min-width: 426px) {
  .steps__content {
    grid-template-columns: 325px;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 767px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .table {
    width: 100%;
  }
  .hscroll {
    overflow-x: auto; /* Horizontal */
    margin: auto;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--header-color);
    transition: 0.4s;
  }
  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }
  .nav__link i,
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
    transition: background 0.4s;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    font-size: var(--h2-font-size);
  }
  .dark-theme .nav,
  .dark-theme .nav__menu {
    background-color: var(--body-color);
    box-shadow: none;
  }
  .change-theme {
    color: var(--text-color-light);
  }
  .change-theme {
    color: var(--title-color);
  }
  .home__title {
    font-size: 2.25rem;
  }
  .scrollup {
    right: 3rem;
  }
  .show-scroll {
    bottom: 5rem;
  }
  .single__candidate {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .single__candidate-data {
    justify-content: space-around;
    padding: 2.5rem;
  }
  .card__list {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Change background color */
  .bg-header {
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  }
  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, 0.6);
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__border {
    padding-bottom: 6rem;
  }
  .section__subtitle {
    padding-bottom: 5rem;
  }
  .home__title {
    font-size: var(--biggest-font-size);
  }
  .home__blob {
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }
  .home__perfil {
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }
  .home__perfil img {
    width: 300px;
  }
  .home__shape-wawes {
    width: 100px;
    left: -4rem;
    top: 10rem;
  }
  .home__shape-circle {
    width: 250px;
    bottom: -1rem;
    right: -5rem;
  }
  .home__data {
    row-gap: 2.5rem;
  }
  .home__social {
    column-gap: 2rem;
  }
  .home__social-link {
    font-size: 1.5rem;
  }
  .home__info {
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    margin-top: 16rem;
  }
  .skills__container {
    column-gap: 10rem;
  }
  .skills__title {
    margin-bottom: 3rem;
  }
  .skills__title i {
    font-size: 1.25rem;
  }
  .skills__name {
    font-size: var(--normal-font-size);
  }
  .skills__info {
    gap: 3rem;
  }
  .qualification__container {
    column-gap: 14rem;
  }
  .qualification__title {
    margin-bottom: 3rem;
  }
  .qualification__title i {
    font-size: 1.25rem;
  }
  .qualification__name {
    font-size: var(--h3-font-size);
  }
  .qualification__img {
    width: 300px;
    left: -6rem;
    bottom: 5rem;
  }
  .services__container {
    grid-template-columns: repeat(3, max-content);
  }
  .services__card {
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;
  }
  .services__card i {
    font-size: 2.5rem;
  }
  .services__border {
    width: 265px;
    height: 365px;
    border-radius: 8.25rem;
  }
  .testimonial__container {
    width: 566px;
  }
  .testimonial__container .swiper-button-prev,
  .testimonial__container .swiper-button-next {
    font-size: 2.5rem;
  }
  .testimonial__container .swiper-button-prev {
    left: calc(50% - 5rem);
  }
  .testimonial__container .swiper-button-next {
    right: calc(50% - 5rem);
  }
  .testimonial__container .swiper-slide {
    margin-bottom: 6rem;
  }
  .testimonial__description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }
  .testimonial__img {
    width: 200px;
    top: 13rem;
    right: 4rem;
  }
  .contact__title {
    margin-bottom: 3rem;
  }
  .contact__title i {
    font-size: 1.25rem;
  }
  .contact__info {
    row-gap: 3rem;
  }
  .contact__data-info {
    font-size: var(--normal-font-size);
  }
  .contact__form {
    row-gap: 2.5rem;
  }
  .footer__container {
    padding: 4rem 0 3rem;
  }
  .footer__list {
    column-gap: 3rem;
    margin: 3rem 0;
  }
  .footer__social {
    column-gap: 2rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .footer__copy {
    margin-top: 5rem;
  }
}
