/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital,wght@0,500;1,500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(29, 80%, 58%);
  --first-color-light: hsl(29, 80%, 70%);
  --body-color: hsl(29, 100%, 99%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 10%);
  --text-color-light: hsl(207, 4%, 56%);
  --text-color-lighten: hsl(207, 3%, 76%);
  --header-color: hsl(0, 0%, 97%);
  --container-color: hsl(207, 4%, 95%);
  --black-color: hsl(29, 16%, 10%);
  --white-color: hsl(0, 0%, 100%);
  --error-color: hsl(350, 97%, 35%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --hand-writing-font: "Dancing Script", cursive;
  --biggest-font-size: 1.8rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  /* --z-tooltip: 10; */
  /* --z-tooltip: 50; */
  --z-fixed: 100;
  /* --z-fixed: 100; */
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: 16px;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(219, 48%, 8%);
  --container-color: hsla(219, 32%, 16%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 8%, 0.4);
}
.dark-theme .home__shape-wawes,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img,
.dark-theme .testimonial__img {
  filter: invert(1);
}
.dark-theme .hero,
.dark-theme .fade-in,
.dark-theme .fade-out {
  background: var(--body-color);
}
.dark-theme .hero__title,
.dark-theme .hero__info-title,
.dark-theme .home__social-link {
  color: var(--title-color);
}
.dark-theme .section__border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}
.dark-theme::-webkit-scrollbar {
  background-color: hsl(207, 4%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 35%);
}
.dark-theme .accordion__title {
  color: var(--text-color);
}
.dark-theme .btn {
  color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2.5rem;
}
.section__border {
  border-bottom: 1px solid var(--text-color-light);
  padding-bottom: 3.5rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}
.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.main {
  overflow: hidden; /* For animation */
  padding-top: 6rem;
  min-height: 45rem;
}
.btn {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  border: 2px solid var(--text-color-light);
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  color: var(--title-color);
  background-color: var(--white-color);
  border: 2px solid var(--text-color-light);
  transition: all 0.3s;
}

.btn-white {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-white:hover {
  color: var(--white-color);
  background-color: var(--first-color);
  border: 2px solid var(--white-color);
  transition: all 0.3s;
}
.btn-transparent {
  display: inline-flex;
  border: none;
  font-size: var(--normal-font-size);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-transparent:hover {
  scale: 1.2;
  transition: all 0.3s;
}
.btn-alt {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  border: 2px solid var(--text-color-light);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-alt:hover {
  color: var(--white-color);
  background-color: var(--first-color);
  border: 2px solid var(--white-color);
  transition: all 0.3s;
}

.btn-disabled {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  border: 2px solid var(--text-color-light);
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.2;
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  /* z-index: var(--z-tooltip); */
  z-index: 1000;
}
.nav {
  height: calc(var(--header-height) + 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0 4px 10px hsla(207, 24%, 35%, 0.2);
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  transition: background 0.4s;
  flex-direction: column;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--text-color);
}
.nav__logo {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__buttons img {
  width: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 92%;
    left: 0;
    right: 0;
    top: -65%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: top 0.3s;
  }
}
.nav__list {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 2rem 3rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  transition: color 0.3s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__link i {
  font-size: 1.25rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 1rem;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Search Form */
.search__form {
  position: relative;
  row-gap: 3rem;
}
.search__form-div {
  position: relative;
  height: 4rem;
}
.search__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  z-index: var(--z-tooltip);
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: 0.35rem;
  transition: background 0.4s;
}
input,
select,
textarea,
.search__form-input {
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: var(--z-normal);
}

/*=============== CARD ===============*/
.card__list {
  grid-template-columns: repeat(1, 1fr);
}
.card {
  position: relative;
  width: 100%;
  background: var(--white-color);
  border: 3px solid var(--text-color-light);
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 3.5rem;
  text-align: center;
  box-shadow: 4px 4px 2px hsla(207, 24%, 8%, 0.4);
  cursor: pointer;
}
.card__img {
  width: 90%;
}
.card__border {
  width: 124px;
  height: 124px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
}
.card__perfil {
  width: 104px;
  height: 104px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card__name,
.card__email {
  color: var(--text-color);
}
.card__name {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.card__email {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.card-animation {
  animation-name: scaleUp;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*=============== SINGLE CANDIDATE ===============*/
.single__candidate {
  position: relative;
  overflow: hidden;
}
.single__candidate-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  align-items: flex-start;
  overflow: hidden;
}
.single__candidate-img {
  border: 1px solid var(--body-color);
  max-width: 320px;
  width: 100%;
}
.single__candidat-info {
  padding-bottom: 1rem;
}
.single__candidat-info h3 {
  color: var(--text-color);
  font-size: var(--h2-font-size);
}
.single__candidat-info p {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
.single__candidate-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 4%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.single__candidate:hover .projects__modal {
  bottom: 0;
}

/*=============== TABLE ===============*/
.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  padding: 1rem 2rem;
  border: 1px solid var(--text-color-light);
  text-align: center;
  font-size: var(--normal-font-size);
}
.table th {
  background-color: var(--text-color-lighten);
}
.table th span {
  font-size: var(--h3-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table tbody tr:nth-child(even) {
  background-color: var(--text-color-lighten);
}
.hscroll {
  overflow-x: auto; /* Horizontal */
  margin: auto;
}
.table img {
  width: 1.5rem;
}
.table .table-icon {
  width: 1.5rem;
}

/*=============== REPORTS ===============*/
.reports__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.reports-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.reports__info-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--text-color-lighten);
}
.reports__info-item-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: none;
}
.reports__info-item h3 {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-family: inherit;
  padding-bottom: 0.5rem;
}
.reports__info-item p {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  padding-bottom: 0.5rem;
}
.reports-icon,
.delete-reports {
  color: var(--text-color);
  width: 2rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
}
.reports-icon:hover,
.delete-reports:hover {
  scale: 1.2;
  transition: all 0.3s;
}

/*=============== OPERATIONS ===============*/
.operations {
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--text-color-lighten);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3;
}
.operations__tab-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}
.operations__tab--1,
.operations__tab--2,
.operations__tab--3 {
  background-color: var(--white-color);
  border-color: var(--title-color);
}
.operations__tab--1:hover,
.operations__tab--2:hover {
  background-color: var(--first-color-light);
}
.operations__tab--3 {
  margin: 0;
}
.operations__tab--3:hover {
  background-color: var(--first-color-light);
}
.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: var(--h2-font-size);
  padding: 2.5rem;
}
.operations__content--active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.operations__search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.operations__card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--white-color);
  border: 2px solid var(--text-color-light);
  padding: 0.5rem;
  padding-left: 2rem;
  text-align: center;
  box-shadow: 2px 2px 2px hsla(207, 24%, 8%, 0.4);
  cursor: pointer;
}
.operations__card:hover {
  border: 2px solid var(--text-color);
  background-color: var(--first-color-light);
  transition: all 0.3s;
}
.operations__card-img {
  width: 90%;
}
.operations__card-border {
  width: 80px;
  height: 80px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.operations__card-perfil {
  width: 70px;
  height: 70px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.operations__card-info {
  /* padding-right: 2rem; */
  flex: 2;
}
.operations__card-name,
.operations__card-email {
  color: var(--text-color);
}
.operations__card-name {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.operations__card-email {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}
.operations__card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}
.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}
.operations__select-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.operations__select-search h3 {
  font-size: var(--biggest-font-size);
  color: var(--text-color);
}
.operations__select-search p {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.operations__select-company {
  display: flex;
  flex-direction: column;
  color: var(--title-color);
  gap: 0;
}
.operations__select-company-item {
  border: 2px solid var(--text-color);
  border-bottom: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
.operations__select-company-item:hover {
  background-color: var(--first-color-light);
}
.operations__select-company-item:last-child {
  border-bottom: 2px solid var(--text-color);
}
.operations__report-fill {
  padding: 1rem;
}
.operations__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.operations__form-div {
  position: relative;
  padding-bottom: 1rem;
  width: 100%;
}

/*=============== MODAL ===============*/
.close-modal {
  position: absolute;
  text-align: center;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.8rem;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  background: var(--text-color-light);
  border: 50%;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
}
/*========= MAKE MODAL WORK ========= */
.hidden {
  display: none;
}
.modal {
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: var(--white-color);
  margin-top: 6rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  /* z-index: var(--z-fixed); */
  z-index: 1500;
}
.modal h2 {
  padding-bottom: 2rem;
}
.overlay {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  /* z-index: var(--z-tooltip); */
  z-index: 1000;
}
.modal__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  gap: 2rem;
}
.modal__info-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.modal h2,
.modal__info-item h3 {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-family: inherit;
}
.modal__info-item p {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  padding-bottom: 0.5rem;
}

/*=============== FOOTER ===============*/
.footer {
  text-align: center;
  /* position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-color);
  width: 100%; */
}
.footer__copy {
  display: block;
  margin-bottom: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 425px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
    padding-inline: 3rem;
  }
  .home__title {
    width: 220px;
    text-align: center;
  }
  .home__title img {
    bottom: 2.5rem;
  }
  .products__content {
    grid-template-columns: 1fr;
  }
  .steps__content {
    row-gap: 3rem;
  }
  .steps__card {
    width: initial;
  }
  .steps__border {
    left: 0;
    top: 10.5rem;
  }
}

@media screen and (min-width: 426px) {
  .steps__content {
    grid-template-columns: 325px;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 767px) {
  .nav {
    flex-direction: row;
  }
  .card__list,
  .operations__card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .table {
    width: 100%;
  }
  .hscroll {
    overflow-x: auto; /* Horizontal */
    margin: auto;
  }
  .reports-item {
    flex-direction: row;
  }
  .reports__info-item {
    border: none;
    border-right: 1px solid var(--text-color-lighten);
  }
  .reports__info-item-last {
    border-right: none;
  }
  .operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
  }
  .operations__tab-container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .operations__tab--active {
    transform: translateY(-66%);
  }
  .operations__select-search {
    flex-direction: row;
  }
  .operations__form {
    flex-direction: row;
  }
  .modal {
    max-width: 1024px;
    margin: 0;
  }
  .modal__info {
    flex-direction: row;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--header-color);
    transition: 0.4s;
  }
  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }
  .nav__link i,
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
    transition: background 0.4s;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    font-size: var(--h2-font-size);
  }
  .dark-theme .nav,
  .dark-theme .nav__menu {
    background-color: var(--body-color);
    box-shadow: none;
  }
  .change-theme {
    color: var(--text-color-light);
  }
  .change-theme {
    color: var(--title-color);
  }
  .home__title {
    font-size: 2.25rem;
  }
  .scrollup {
    right: 3rem;
  }
  .show-scroll {
    bottom: 5rem;
  }
  .single__candidate {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .single__candidate-data {
    justify-content: space-around;
    padding: 2.5rem;
  }
  .card__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .operations__tab-container {
    width: max-content;
  }

  /* Change background color */
  .bg-header {
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  }
  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, 0.6);
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__border {
    padding-bottom: 6rem;
  }
  .section__subtitle {
    padding-bottom: 5rem;
  }
  .home__title {
    font-size: var(--biggest-font-size);
  }
  .home__blob {
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }
  .home__perfil {
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }
  .home__perfil img {
    width: 300px;
  }
  .home__shape-wawes {
    width: 100px;
    left: -4rem;
    top: 10rem;
  }
  .home__shape-circle {
    width: 250px;
    bottom: -1rem;
    right: -5rem;
  }
  .home__data {
    row-gap: 2.5rem;
  }
  .home__social {
    column-gap: 2rem;
  }
  .home__social-link {
    font-size: 1.5rem;
  }
  .home__info {
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    margin-top: 16rem;
  }
  .skills__container {
    column-gap: 10rem;
  }
  .skills__title {
    margin-bottom: 3rem;
  }
  .skills__title i {
    font-size: 1.25rem;
  }
  .skills__name {
    font-size: var(--normal-font-size);
  }
  .skills__info {
    gap: 3rem;
  }
  .qualification__container {
    column-gap: 14rem;
  }
  .qualification__title {
    margin-bottom: 3rem;
  }
  .qualification__title i {
    font-size: 1.25rem;
  }
  .qualification__name {
    font-size: var(--h3-font-size);
  }
  .qualification__img {
    width: 300px;
    left: -6rem;
    bottom: 5rem;
  }
  .services__container {
    grid-template-columns: repeat(3, max-content);
  }
  .services__card {
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;
  }
  .services__card i {
    font-size: 2.5rem;
  }
  .services__border {
    width: 265px;
    height: 365px;
    border-radius: 8.25rem;
  }
  .testimonial__container {
    width: 566px;
  }
  .testimonial__container .swiper-button-prev,
  .testimonial__container .swiper-button-next {
    font-size: 2.5rem;
  }
  .testimonial__container .swiper-button-prev {
    left: calc(50% - 5rem);
  }
  .testimonial__container .swiper-button-next {
    right: calc(50% - 5rem);
  }
  .testimonial__container .swiper-slide {
    margin-bottom: 6rem;
  }
  .testimonial__description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }
  .testimonial__img {
    width: 200px;
    top: 13rem;
    right: 4rem;
  }
  .contact__title {
    margin-bottom: 3rem;
  }
  .contact__title i {
    font-size: 1.25rem;
  }
  .contact__info {
    row-gap: 3rem;
  }
  .contact__data-info {
    font-size: var(--normal-font-size);
  }
  .contact__form {
    row-gap: 2.5rem;
  }
  .footer__container {
    padding: 4rem 0 3rem;
  }
  .footer__list {
    column-gap: 3rem;
    margin: 3rem 0;
  }
  .footer__social {
    column-gap: 2rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .footer__copy {
    margin-top: 5rem;
  }
}

.active {
  color: var(--white-color);
  background-color: var(--first-color);
  border: 2px solid var(--white-color);
  transition: all 0.3s;
}

.left {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.form-wraped {
  display: flex;
  flex-wrap: wrap;
}

.links-gap {
  display: flex;
  gap: 0.5rem;
}

.error-modal {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.user-created {
  min-height: 25rem;
  text-align: center;
}
